﻿@{
    ViewData["Title"] = "Add";
}

<div class="wrapper">
    <form asp-action="Add" asp-controller="Home" method="post">
        @*@Html.AntiForgeryToken() is already set due the use of the tag-helpers*@

        <h2>Add</h2>

        @if (ViewData.ContainsKey("Result"))
        {
            <div class="alert alert-info">
                @ViewData["Result"]
            </div>
        }

        <input type="text" name="a" class="form-control" placeholder="first summand" />
        <input type="text" name="b" class="form-control" placeholder="first summand" />

        <button type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
    </form>
</div>