﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="alert alert-info">
        Hallo @User.FindFirst("DisplayName").Value
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@nameof(User.Identity.AuthenticationType)</td>
                <td>@User.Identity.AuthenticationType</td>
            </tr>
            <tr>
                <td>@nameof(User.Identity.IsAuthenticated)</td>
                <td>@User.Identity.IsAuthenticated</td>
            </tr>
            <tr>
                <td>@nameof(User.Identity.Name)</td>
                <td>@User.Identity.Name</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in User.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>