﻿@{
    ViewData["Title"] = "ChangePassword";
}

@model token_service.Models.ChangePasswordViewModel

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/tooltipster.bundle.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/tooltipster.bundle.min.css" />
    </environment>

    <link rel="stylesheet" href="~/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" />
}

@section scripts {
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/tooltipster/dist/js/tooltipster.bundle.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    </environment>
}

<div class="wrapper">
    <form asp-action="ChangePassword" asp-controller="Auth" method="post" class="form-signin">
        <h2 class="form-signin-heading">Change Password</h2>

        @if (ViewData.ContainsKey("Message"))
        {
            <div class="alert @((bool)ViewData["Success"] ? "alert-info" : "alert-danger")">
                @ViewData["Message"]
            </div>
        }

        <input type="text" asp-for="UserName" class="form-control my-tooltip" placeholder="username@@gfoidl.at" autocomplete="off" data-tooltip-content="#tooltip_username" />
        <span asp-validation-for="UserName" class="text-danger"></span>

        <input type="password" asp-for="OldPassword" class="form-control my-tooltip" placeholder="Current Password" title="Your password -- input is case sensitive" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>

        <input type="password" asp-for="NewPassword" class="form-control my-tooltip" placeholder="New Password" title="Your password -- input is case sensitive" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>

        <input type="password" asp-for="ConfirmedNewPassword" class="form-control my-tooltip" placeholder="Password confirmation" title="Your password -- input is case sensitive" />
        <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>

        <button data-bind="enable: IsEnabled" type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>

        <a asp-action="Login">Login</a>
    </form>
</div>

<div class="tooltip_templates">
    <div id="tooltip_username">
        <p>Username can be given in one of the following formats:</p>
        <ul>
            <li>username@gfoidl.at</li>
            <li>gfoidl\username</li>
        </ul>
    </div>
</div>