﻿@{
    ViewData["Title"] = "Login";
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/tooltipster.bundle.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/tooltipster/dist/css/tooltipster.bundle.min.css" />
    </environment>

    <link rel="stylesheet" href="~/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" />
}

@section scripts {
    <environment names="Development">
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/tooltipster/dist/js/tooltipster.bundle.js"></script>
        <script src="~/scripts/login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src              ="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"
                asp-fallback-src ="~/lib/knockout/dist/knockout.js"
                asp-fallback-test="window.knockout"
                crossorigin      ="anonymous">
        </script>
        <script src="~/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
        <script src="~/scripts/auth-service.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="wrapper">
    <form asp-action="Login" asp-controller="Auth" method="post" class="form-signin">
        @*@Html.AntiForgeryToken() is already set due the use of the tag-helpers*@

        <h2 class="form-signin-heading">Login</h2>

        @if (ViewData.ContainsKey("Message"))
        {
            <div class="alert alert-danger">
                @ViewData["Message"]
            </div>
        }

        <input type="text" name="userName" data-bind="textInput: UserName" class="form-control my-tooltip" placeholder="username@@gfoidl.at" required autofocus autocomplete="off" data-tooltip-content="#tooltip_username" />
        <input type="password" name="password" data-bind="textInput: Password" class="form-control my-tooltip" placeholder="Password" required title="Your password -- input is case sensitive" />
        
        <button type="submit" data-bind="enable: IsEnabled" class="btn btn-lg btn-primary btn-block">Login</button>

        <a asp-action="ChangePassword">Change Password</a>
    </form>
</div>

<div class="tooltip_templates">
    <div id="tooltip_username">
        <p>Username can be given in one of the following formats:</p>
        <ul>
            <li>username@gfoidl.at</li>
            <li>gfoidl\username</li>
        </ul>
    </div>
</div>