﻿@{
    ViewData["Title"] = "User is disabled";
}

<div class="wrapper">
    <div class="alert alert-warning">
        The user <i>@ViewData["UserName"]</i> is disabled. Contact your Administrator for further informations.
    </div>
</div>